<div class="content-container">
    <div class="content-area">
        <div class="alert alert-danger" *ngIf="error">
            <div class="alert-items">
                <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                    </div>
                    <span class="alert-text">{{error}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs">
                <div class="card">
                    <div class="card-header">
                        <br>{{players ? players[0] : ""}}
                    </div>
                    <div class="card-block">
                        {{ setToPlay ? setToPlay.result_team_1 : 0}}
                    </div>
                </div>
            </div>
            <div class="col-xs">
                <div class="card">
                    <div class="card-header">
                        <br>{{players ? players[1] : ""}}
                    </div>
                    <div class="card-block">
                        {{ setToPlay ? setToPlay.result_team_2 : 0}}
                    </div>
                </div>
            </div>
        </div>
       <!-- <div class="row" *ngFor="let set of game.sets">
            <div class="col-xs">
                <span class="badge">{{set.teamResult1}}</span>
            </div>
            <div class="col-xs">
                <span class="badge">{{set.teamResult2}}</span>
            </div>
        </div> -->
    </div>
</div>

