
<div class="content-container">
    <div class="content-area">
        <h1>TT-Counter</h1>
        <div class="row">
            <div class="col-md">
                <div class="card clickable" [routerLink]="['counter']">
                    <div class="card-header">
                        Counter
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card clickable" [routerLink]="['admin']">
                    <div class="card-header">
                        Administration
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
