<clr-stack-view>

    <clr-stack-header>Abgeschlossene Spiele
        <button *ngIf="!isLoading"
                class="stack-action btn btn-sm btn-link"
                (click)="refresh()"
                type="button">Neu laden
        </button>
        <span *ngIf="isLoading" class="stack-action spinner spinner-sm">Loading...</span>

    </clr-stack-header>

    <clr-stack-block *ngFor="let game of Games">
        <clr-stack-label>{{ game.game_players[0].name }} vs. {{ game.game_players[1].name }}</clr-stack-label>
        <clr-stack-content>{{ getResult_Player1(game)}} : {{ getResult_Player2(game)}}</clr-stack-content>

        <clr-stack-block *ngFor="let set of game.sets; let i = index">
            <clr-stack-label>{{ i + 1 }}. Satz</clr-stack-label>
            <clr-stack-content>{{ set.result_value_1 }} : {{ set.result_value_2 }}</clr-stack-content>
        </clr-stack-block>
    </clr-stack-block>
</clr-stack-view>

<div *ngIf="last_error != ''" class="alert alert-danger">
    <div class="alert-items">
        <div class="alert-item static">
            <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
            </div>
            <span class="alert-text"><b>Fehler beim Laden der Übersicht:</b> {{ last_error }}</span>
        </div>
    </div>
</div>