<clr-header>

    <div class="branding">
        <a href="#" class="nav-link">
            <span class="title">TT-Counter Administration</span>
        </a>
    </div>
    <div class="header-nav" [clr-nav-level]="1">
        <a class="nav-link" href="#" [routerLink]="['about']" routerLinkActive="active"><span
                class="nav-text">About</span></a>
        <a class="nav-link" href="#" [routerLink]="['team-lineup']" routerLinkActive="active"><span
                class="nav-text">team-lineup</span></a>
        <a class="nav-link" href="#" [routerLink]="['finished-game-view']" routerLinkActive="active"><span
                class="nav-text">finished-game-view</span></a>
    </div>
    <div class="header-actions">
        <a href="#" class="nav-link nav-icon">
            <clr-icon shape="times"></clr-icon>
        </a>
    </div>
</clr-header>
<div class="content-container">
    <div class="content-area">
        <router-outlet></router-outlet>
    </div>
</div>

