<!--
  ~ Copyright (c) 2016 VMware, Inc. All Rights Reserved.
  ~ This software is released under MIT license.
  ~ The full license information can be found in LICENSE in the root directory of this project.
  -->

<section class="form-block">
    <div class="form-group">
        <label for="selects_1">Spielmodi auswählen</label>
        <div class="select">
            <select id="selects_1" [(ngModel)]="GameModeName" name="gamemode">
                <option value="1">3er Swaythling-Cup-System</option>
                <option value="2">4er W. Scheffler</option>
                <option value="3">6er mod. Paarkreuz</option>
            </select>
        </div>
    </div>
</section>
