<h1>Mannschaftsspiel</h1>
<div class="form-group">
    <div class="radio-inline">
        <input type="radio" name="gridRadios1" id="checkrads_11">
        <label for="checkrads_11">Verbands-</label>
    </div>
    <div class="radio-inline">
        <input type="radio" name="gridRadios1" id="checkrads_12">
        <label for="checkrads_12">Feundschaft-</label>
    </div>
    <div class="radio-inline">
        <input type="radio" name="gridRadios1" id="checkrads_13">
        <label for="checkrads_13">Pokal-</label>
    </div>
</div>
<div class="from-group">
    <div class="radio-inline">
        <input type="radio" name="people" id="checkrads_women">
        <label for="checkrads_women">Damen</label>
    </div>
    <div class="radio-inline">
        <input type="radio" name="people" id="checkrads_men">
        <label for="checkrads_men">Herren</label>
    </div>
    <div class="radio-inline">
        <input type="radio" name="people" id="checkrads_girls">
        <label for="checkrads_girls">Mädchen</label>
    </div>
    <div class="radio-inline">
        <input type="radio" name="people" id="checkrads_boys">
        <label for="checkrads_boys">Jungen</label>
    </div>
    <div class="radio-inline">
        <input type="radio" name="people" id="checkrads_schoolgirls">
        <label for="checkrads_schoolgirls">Schülerinnen</label>
    </div>
    <div class="radio-inline">
        <input type="radio" name="people" id="checkrads_schoolboys">
        <label for="checkrads_schoolboys">Schüler</label>
    </div>
    <div class="radio-inline">
        <input type="radio" name="people" id="checkrads_minis">
        <label for="checkrads_minis">Minis</label>
    </div>
</div>

<game-type-view></game-type-view>

<div class="form-group">
    <table class="table">
        <thead>
        <h2>Mannschaftsaufstellung</h2>
        <tr>
            <th><label for="formFields_TeamNrA">Mannschaft A</label><input type="text" id="formFields_TeamNrA"
                                                                           placeholder="NrA"></th>
            <th><label for="formFields_TeamNrB">Mannschaft B</label><input type="text" id="formFields_TeamNrB"
                                                                           placeholder="NrB"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input type="text" id="formFields_playerA1" placeholder="Spieler A1"></td>
            <td><input type="text" id="formFields_playerB1" placeholder="Spieler B1"></td>
        </tr>
        <tr>
            <td><input type="text" id="formFields_playerA2" placeholder="Spieler A2"></td>
            <td><input type="text" id="formFields_playerB2" placeholder="Spieler B2"></td>
        </tr>
        <tr>
            <td><input type="text" id="formFields_playerA3" placeholder="Spieler A3"></td>
            <td><input type="text" id="formFields_playerB3" placeholder="Spieler B3"></td>
        </tr>
        <tr>
            <td><input type="text" id="formFields_playerA4" placeholder="Spieler A4"></td>
            <td><input type="text" id="formFields_playerB4" placeholder="Spieler B4"></td>
        </tr>
        <tr>
            <td><input type="text" id="formFields_playerA5" placeholder="Spieler A5"></td>
            <td><input type="text" id="formFields_playerB5" placeholder="Spieler B5"></td>
        </tr>
        <tr>
            <td><input type="text" id="formFields_playerA6" placeholder="Spieler A6"></td>
            <td><input type="text" id="formFields_playerB6" placeholder="Spieler B6"></td>
        </tr>
        <tr>
            <td><input type="text" id="formFields_doublesA1_playerA1" placeholder="Doppel A1 Spieler 1">
                <input type="text" id="formFields_doublesA1_playerA2" placeholder="Doppel A1 Spieler 2"></td>
            <td><input type="text" id="formFields_doublesB1_playerB1" placeholder="Doppel B1 Spieler 1">
                <input type="text" id="formFields_doublesB1_playerB2" placeholder="Doppel B1 Spieler 2"></td>
        </tr>
        <tr>
            <td><input type="text" id="formFields_doublesA2_playerA1" placeholder="Doppel A2 Spieler 1">
                <input type="text" id="formFields_doublesA2_playerA2" placeholder="Doppel A2 Spieler 2"></td>
            <td><input type="text" id="formFields_doublesB2_playerB1" placeholder="Doppel B2 Spieler 1">
                <input type="text" id="formFields_doublesB2_playerB2" placeholder="Doppel B2 Spieler 2"></td>
        </tr>
        <tr>
            <td><input type="text" id="formFields_doublesA3_playerA1" placeholder="Doppel A3 Spieler 1">
                <input type="text" id="formFields_doublesA3_playerA2" placeholder="Doppel A3 Spieler 2"></td>
            <td><input type="text" id="formFields_doublesB3_playerB1" placeholder="Doppel B3 Spieler 1">
                <input type="text" id="formFields_doublesB3_playerB2" placeholder="Doppel B3 Spieler 2"></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="btn-group btn-primary">
    <button class="btn">Speichern</button>
    <button class="btn">Delete</button>
</div>

